<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631352794882-g7ah7ni2fhdr8srgo7699j8bfj56ehk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631352794882-g7ah7ni2fhdr8srgo7699j8bfj56ehk9</string>
	<key>API_KEY</key>
	<string>AIzaSyCln25eHl6Jz0UwR_OeJ6DbI9q0e3l6YOY</string>
	<key>GCM_SENDER_ID</key>
	<string>631352794882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justinviasus.InstagramFirestore</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestore-7b061</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestore-7b061.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631352794882:ios:316bceea19c0fd632dec1b</string>
</dict>
</plist>